[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
jupyterlab = "*"

[packages]
numpy = "*"
pandas = "*"
nltk = "*"
matplotlib = "*"
tweepy = "*"
langdetect = "*"
langid = "*"
gensim = "*"
twittersearch = "*"
unidecode = "*"

[requires]
python_version = "3.6"
